/* Main CSS by Norman Pleitez @ Ferocious Media */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --primero: #6c297d;
    --segundo: #568ac8;
    --gris: #3d3d3d;
    --plata: #f5f5f5;
    --otroplata: #707070;
    --funo: 'Raleway', sans-serif;
    --fdos: 'Poppins', sans-serif;
    --ftres: 'Oswald', sans-serif;
}

/* ===================================
    1. Global CSS
====================================== */

* {
    color: inherit;
    outline: #fff solid 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

:focus,
a:focus {
    outline: none;
}

#root {
    width: 100%;
    position: relative;
    overflow: hidden;
}

body {
    font-family: var(--funo);
    font-size: 19px;
    line-height: 1.5em;
    font-weight: 500;
    color: var(--gris);
    margin: 0;
    word-wrap: break-word;
    word-break: break-word;
}

p,
a,
span,
small {
    font-family: var(--funo);
    color: var(--gris);
    font-size: 19px;
}

body a {
    text-decoration: none;
    color: var(--segundo);
    transition: color 0.2s linear;
}

body a:hover,
body a:focus {
    color: var(--segundo);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--funo);
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}

.box-wrapper,
section {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    display: block;
    padding: 70px 0;
}

.content-body {
    white-space: pre-wrap;
}

@media only screen and (max-width: 450px) {
    .resources-pages .block-text-and-form .white-button {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .resources-pages .block-text-and-form .white-button a {
        display: block;
        text-align: center;
    }
}

/* ===================================
    2. Top Bar
====================================== */
.secondary-bar {
    border-bottom-color: #ffffff;
    position: absolute;
    border-bottom-style: solid;
    z-index: 104;
    padding: 19px 0;
    background-color: transparent;
}

.top-wrapper {
    max-width: 1320px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

@media only screen and (max-width: 949px) {
    .sub-titles h3 {
        font-size: 38px;
    }

    .block-left {
        line-height: 1.1em;
        margin-bottom: 10px;
    }

    .block-left a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 780px) {
    .primary-bar .top-wrapper .menu-container {
        padding: 5px 0;
    }

    .block-left {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .block-right {
        width: 100%;
        justify-content: center;
    }

    .phone {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .sub-titles h3 {
        font-size: 32px;
    }

    .sub-titles-wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .phone-title {
        font-size: 16px;
    }

    .phone-number a {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 450px) {
    .block-wrap {
        padding: 0 20px;
    }
    .phone {
        width: 100%;
    }

    .phone svg {
        display: none;
    }

    .phone-data {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .phone-title {
        margin-right: 5px;
    }

    .block-left svg {
        font-size: 16px;
    }

    .block-left a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 350px) {
    .phone {
        width: 100%;
    }

    .phone svg {
        display: none;
    }

    .phone-data {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .phone-title {
        margin-right: 5px;
        font-size: 14px;
    }

    .phone-number a {
        font-size: 15px !important;
    }
}

/* ===================================
    3. Hero
====================================== */
.hero {
    height: 1025px;
    padding-top: 2%;
    background-position: center;
    background-size: cover;
}

.hero-text {
    padding-top: 25%;
    height: 100%;
}

.hero-text h4 {
    color: var(--primero);
    font-size: 24pt;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 4.4vw;
}

@media (max-width: 650px) {
    .hero {
        background-position: center center;
    }

    .hero-text {
        padding-top: 60%;
        align-items: flex-end;
        justify-content: center;
    }

    .scroll-text {
        position: absolute;
        bottom: 20%;
        padding-right: 5%;
    }

    .scroll-text h2 {
        font-size: 3vw;
    }
}

/* ===================================
    4. Speed Stuff
====================================== */

.speed-text {
    position: relative;
}

.speed-text h3 {
    text-align: center;
    font-size: 42pt;
}

.speed-text h4 {
    font-size: 20pt;
    text-align: center;
    font-family: var(--fdos);
    font-weight: 500;
}
@media (max-width: 650px) {
    .speed-text {
        position: relative;
    }

    .speed-text h3 {
        font-size: 24pt;
    }
}

/* ===================================
    5. Contact
====================================== */

.contact {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    margin: 3%;
    padding: 10%;
}

.contact h3 {
    background: -webkit-linear-gradient(40deg, #b35aa3, #70489d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 48pt;
    margin-bottom: 10%;
}

/* ===================================
    6. About
====================================== */

.speed-image-container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 2%;
}

.about {
    background-color: #e3e3e3;
}

.about h3 {
    font-size: 44pt;
    text-align: right;
}

.about h4 {
    font-size: 28pt;
    text-align: right;
}

.about p {
    margin-bottom: 15px;
}

/* ===================================
    7. Footer
====================================== */

.footer {
    text-align: center;
    background: linear-gradient(40deg, #b35aa3, #70489d);
    width: 100%;
}

.footer p {
    color: #ffffff !important;
}

.footer a, a:link, a:active {
    color: #e37ed7;
    font-weight: 700;
}